<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Caravan Car</title>
	{% load static %}
	<link href="https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap" rel="stylesheet">
	<link href="{% static 'img/favicon.png' %}" rel="icon">
	<link href="{% static 'img/apple-touch-icon.png' %}" rel="apple-touch-icon">
	<link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
	<link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
	<link href="{% static 'vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
	<link href="{% static 'vendor/aos/aos.css' %}" rel="stylesheet">
	<link href="{% static 'css/main.css' %}" rel="stylesheet">
	<link href="{% static 'css/odometr.css' %}" rel="stylesheet">
	<link href="{% static '/css/delivery.css' %}" rel="stylesheet">
</head>
<body>
<header id="header" class="header d-flex align-items-center fixed-top">
	<div class="w-100 px-lg-5 d-flex align-items-center justify-content-between">
		<a href="/" class="logo d-flex align-items-center" style="text-decoration: none;">
			<!--<img src="{% static 'img/logo.webp' %}" alt="">-->
			<h1>Caravan <span style="color: #a20000;">Car</span></h1>
		</a>
		<nav id="navbar" class="navbar">
			<ul>
				<li><a href="#catalog">Каталог</a></li>
				<li><a href="#deliver">Доставка</a></li>
				<li><a href="#revs">Отзывы</a></li>
				<li><a href="#contact-block">Контакты</a></li>
<!--				<li><a id="rm-bb" href="#contact-block" style="margin-bottom: 10px; margin-left: 30px; padding-left: 0; padding-bottom: 0; border-bottom: 2px solid #a20000;" >Заказать авто!&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</a></li>-->
			</ul>
		</nav>
		<div class="position-relative social">
			<span class="phone secret">+7 (924) 43-35-453</span>
			<a href="tel: 89244335453" class="secret-m mx-2"><span class="bi-telephone"></span></a>
			<a href="https://wa.me/79244335453" class="mx-2"><span class="bi-whatsapp"></span></a>
			<a href="mailto:caravancar@mail.ru" class="mx-2"><span class="bi-envelope"></span></a>
			<a href="#" class="js-search-open" style="display: none;"></a>
			<i class="bi bi-list mobile-nav-toggle"></i>
			<button class="btn js-search-close" style="display: none;"></button>
		</div>
	</div>
</header>
{% block content %}
{% endblock %}
<footer id="footer" class="footer">
	<div class="footer-legal">
		<div class="container">
			<div class="row justify-content-between">
				<div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
					<div class="copyright">
						© Copyright <strong><span>CaravanCar</span></strong>. All Rights Reserved
					</div>
					<div class="credits">
						Разработано <a href="https://bootstrapmade.com/">ООО "PapasIT"</a>
					</div>
				</div>
				<div class="col-md-6">
					<div class="social-links mb-3 mb-lg-0 text-center text-md-end">
						<span class="phone secret">+7 (924) 43-35-453</span>
						<a href="tel: 89244335453" class="telephone secret-m"><i class="bi bi-telephone"></i></a>
						<a href="https://wa.me/79244335453" class="whatsapp"><i class="bi bi-whatsapp"></i></a>
						<a href="#" class="mx-2" data-bs-toggle="modal" data-bs-target="#exampleModal" style="z-index: 1000; cursor: pointer;"><span class="bi-envelope"></span></a>
						<a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
<a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-chevron-double-up"></i></a>
</body>
</html>